<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="{{ url_for('static', filename='JS/main.js') }}" defer></script>
  </head>
    <body>
    <nav class="navbar">
      <a href="/" style="float: left;">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-img" >
      </a>
      <ul class="navbar__menu">
        <li>
          <!-- 맛집 등록 화면 -->
          <a href="/register_restaurant">맛집 등록하기</a>
        </li>
        <li>
          <!-- 리뷰 등록 화면 -->
          <a href="/register_review">리뷰 등록하기</a>
        </li>
      </ul>
    </nav>
    <div class="banner">
      <p class="banner_text1">
        무엇을 먹을지 고민될 때는?
      </p>
      <p class="banner_text2">
        "커몽으로 COME ON"
      </p>
    </div>
    <div class="title">
      커몽 추천 맛집
    </div>
    <div class="main_container">
      <div class="main_row">
        <div class="column1">
            <img src="{{ url_for('static', filename='img/main0.jpg') }}" class="main_img"/>
        </div>
        <div class="column2">
          <img src="{{ url_for('static', filename='img/main1.jpg') }}" class="main_img"/>
        </div>
        <div class="column3">
          <img src="{{ url_for('static', filename='img/main2.jpg') }}" class="main_img"/>
        </div>
      </div>
      <div class="main_row">
        <div class="column1">
          <img src="{{ url_for('static', filename='img/main3.jpg') }}" class="main_img"/>
        </div>
        <div class="column2">
          <img src="{{ url_for('static', filename='img/main4.jpg') }}" class="main_img"/>
        </div>
        <div class="column3">
          <img src="{{ url_for('static', filename='img/main5.png') }}" class="main_img"/>
        </div>
      </div>
      <div class="main_row">
        <div class="column1">
          <img src="{{ url_for('static', filename='img/main6.png') }}" class="main_img"/>
        </div>
        <div class="column2">
          <img src="{{ url_for('static', filename='img/main7.png') }}" class="main_img"/>
        </div>
        <div class="column3">
          <img src="{{ url_for('static', filename='img/main8.png') }}" class="main_img"/>
        </div>
      </div>
    </div>
  </body>
</html>
